@page "/bikedata"
@using BlazorTest.Shared
@inject HttpClient Http

<h1>Bike data</h1>

@if (_cityBikeData == null) {
  <p><em>Loading...</em></p>
} else {
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Departure time</th>
        <th>Return time</th>
        <th>Departure station</th>
        <th>Return station</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var data in _cityBikeData) {
        <tr>
          <td>@data.RecordId</td>
          <td>@data.Departure.ToShortDateString()</td>
          <td>@data.Return.ToShortDateString()</td>
          <td>@data.DepartureStationName</td>
          <td>@data.ReturnStationName</td>
        </tr>
      }
    </tbody>
  </table>
}

@code {
  private CityBikeDataContract[] _cityBikeData;

  protected override async Task OnInitializedAsync() {
    _cityBikeData = await Http.GetFromJsonAsync<CityBikeDataContract[]>("CityBikeData");
  }

}
